<section class="footerSection">
  <article class="footer">
    <div class="biggerScreenBiggerSize xsmallScreenXsmallSize">
      <a [routerLink]="'/home'">Home</a>
    </div>
    <div class="biggerScreenBiggerSize xsmallScreenXsmallSize">
      <a [routerLink]="'/addition'">Addition</a>
    </div>  
    <div class="biggerScreenBiggerSize xsmallScreenXsmallSize">
      <a [routerLink]="'/subtraction'">Subtraction</a>
    </div>        
    <div class="biggerScreenBiggerSize xsmallScreenXsmallSize">
      <a [routerLink]="'/multiplication'">Multiplication</a>
    </div>
    <div class="biggerScreenBiggerSize xsmallScreenXsmallSize">
      <a [routerLink]="'/division'">Division</a>
    </div>      
  </article>
</section>
