<!--The content below is only a placeholder and can be replaced.-->
<section class="main">
<section class="appTitle">
  <div>I</div>
  <div class="appCenterTitle">LOVE</div>
  <div>Math</div>    
</section>

<section class="headerSection">
  <div>1/10</div>
  <div>Addition</div>
  <div>10%</div>    
</section>

<section class="equationSection">
  <article class="equationMiddleLine">
    <div class="equationLine"></div>
    <div class="equationLine">1</div>    
  </article>
  <article class="equationMiddleLine">
    <div class="equationOperatorLine">+</div>
    <div class="equationLine">1</div>    
  </article>
  <article class="equationUnderLine"></article>
  <article class="equationInputSection">
    <input class="equationInput" type="text">  
  </article>    
</section>
<section class="footerSection">
  <article class="footer">
    <div>
      <a>Home</a>
    </div>
    <div>
      <a>Addition</a>
    </div>  
    <div>
      <a>Subtraction</a>
    </div>        
    <div>
      <a>Multiplication</a>
    </div>
    <div>
      <a>Division</a>
    </div>      
  </article>
</section>
</section>    
<router-outlet></router-outlet>
