.main {
  display: flex;
  flex-direction: column;
    height: 95vh;
}
.appTitle {
  //flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: navy;
  color: white;
  font-size: 7vh;    
}

.appTitle > div {
  margin-left: 10px;
  margin-right: 10px;
}

.appCenterTitle {
  color: red;
}

.headerSection {
  //flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  background-color: navy;
  color: white;
  font-size: 3vh
}

.equationSection {
  //flex: 5;
  font-size: 10vh;
  margin-top: 20px;
}

.equationMiddleLine {
  display: flex;
}

.equationLine {
  flex-basis: 50%;
}

.equationOperatorLine {
  flex-basis: 50%;
  text-align: center;
}

.equationUnderLine {
  border: 1px solid  black;
  width: 60%;
  margin: auto;
}

.equationInputSection {
  text-align: center;
}

.equationInput {
    border: 1px solid  black;
    text-align: center;
    font-size: 10vh;
    margin-top: 3vh;
    height:15vh;
    width: 25vh;
    
}

.footerSection{
  margin-top: auto;
}

.footer{
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: center;
  font-size: 2vh;
}