<main class="container">
  <section class="runnerIcon" *ngIf="showRunner1">
    <fa-icon [icon]="faRunning" size="1x" class="runner"></fa-icon>  
  </section>
  <section class="runnerIcon" *ngIf="showRunner2">
    <fa-icon [icon]="faRunning" size="2x" class="runner"></fa-icon>  
  </section>
  <section class="runnerIcon" *ngIf="showRunner3">
    <fa-icon [icon]="faRunning" size="3x" class="runner"></fa-icon>  
  </section>
  <section class="runnerIcon" *ngIf="showRunner4">
    <fa-icon [icon]="faRunning" size="4x" class="runner"></fa-icon>  
  </section>
  <section class="runnerIcon" *ngIf="showRunner5">
    <fa-icon [icon]="faRunning" size="5x" class="runner"></fa-icon>  
  </section>    
  <section class="goalline">
    <fa-icon [icon]="faFlagCheckered" size="6x" ></fa-icon>
  </section>    
</main>
