.container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.runnerIcon {
    flex: 9;
}

.runner1 {
    transform: translate(5vw);
}

.runner2 {
    transform: translate(20vw);
}

.runner3 {
    transform: translate(35vw);
}

.runner4 {
    transform: translate(55vw);
}

.runner5 {
    transform: translate(70vw);
}

.goaline {
    flex: 1;
    display:flex;
    justify-content:center;
    align-items: center;
}

.goal {
    flex: 1;
}

.startLine {
    color:green;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    width:100vh;
    background-color: antiquewhite;
}
