<section class="main"> 
  <p>Congrats on solving 10 Problems</p>
  <p>Your final score is</p>
  <strong class="scoreCSS">{{userScore}}%</strong>
  <article class="equationSubmitSection">
    <button class="equationSubmitButton" (click)="newGame()">New Game</button>
  </article>
  <section class="flagSection">
    <article class="flag flagA">
      <fa-icon [icon]="faFlagCheckered" size="6x" flip="horizontal"></fa-icon>  
    </article>
    <article class="flag flagB">
      <fa-icon [icon]="faFlagCheckered" size="6x"></fa-icon>
    </article>
  </section>
</section>
<app-footer></app-footer> 
