.main {
    display: flex;
    flex-direction: column;
    height: 87vh;
    justify-content:flex-start;
    align-items: center;
}

.scoreCSS {
    font-size: 10vh;
    margin-top: 10px;
    margin-bottom: 10px;
}

.equationSubmitSection {
    text-align: center;
}

.equationSubmitButton {
    background-color: green;
    border:1px solid #ccc;
    border-radius: 50px;
    color:white;
    font-size: 32px;
    font-weight: bold;
    padding: 12px;
    text-align: center;
    overflow: hidden;
    width: 80%;
    box-shadow: 2px 2px 1px #ccc;
    margin-top: 10px;
    margin-bottom: 10px;    
}

.flagSection{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.flag {
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blueFlag {    
    color: navy;
    animation-name: winner;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes winner {
    from {color: navy;}
    to {color: red;}
}

.trophyImage {
    color: gold;
}

.redFlag {    
    color: red;
    width: 100vw;
}

