<main class="container">
  <section class="homeHeader">CHOOSE</section>
  <section class="homeDivider">
    <article class="areas">
      <a [routerLink]="'/addition'">Addition</a>      
    </article>
    <article class="areas">
      <a [routerLink]="'/subtraction'">Subtraction</a>      
    </article>
    <article class="areas">
      <a [routerLink]="'/addition'">Multiplication</a>      
    </article>
    <article class="areas">
      <a [routerLink]="'/addition'">Division</a>      
    </article>      
  </section>    
</main>
